.userSignIn { /* stylelint-disable */
  /*margin-top: 20vh;*/
  /*padding: 5%;*/
  margin-top: 20px;
}
.logo {
  padding: 16px;
}
.logoImg {
  width: 320;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
