.header { /* stylelint-disable */
  margin-bottom: 10px;
  & h1{
    padding: 0 20px;
  }
  & span {
    font-size: 16px !important;
  }

}
.menuItem {

}
.indicator {
  position: absolute;
  width: 100%;
  top: 58px;
  right: 0;
}
