.userGridItem { /* stylelint-disable */
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.2s ease-in;
  max-height: 50px;
  & span{
    font-weight: bold;
    font-size: 15px !important;
  }
}
hr {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.padding{
  padding: 10px 0;
  width: 150px;
  max-width: 150px;
  display: inline-flex;
  & span {
    margin-top: 10px;
  }
}
.userGridItemHover{
  background-color: rgba(0, 0, 0, 0.03);
}
.userData{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
.online {
  background-color: rgba(29,233,182 ,0.4);
}
.disabled {
  background-color: rgba(158,158,158 ,0.8);
}
.limited {
  background: rgba(251,192,45 ,.5)
}
.dropDown{
  width: 100%;
  display: flex;
  flex-flow: column;
}
.broadband {
  background: rgba(64,196,255 ,.3);
}
