.userGridItem { /* stylelint-disable */
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  & span{
    font-weight: 300 !important;
    font-size: 15px;
  }
}
hr {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.padding{
  padding: 10px 0px;
  width: 150px;
  max-width: 150px;
}
