.profilesContainer { /* stylelint-disable */
}
.profilesWrapper {
  padding:  0 16px;

}
.profilesTableBody {
  max-height: 66vh;
  overflow-y: scroll;
}
.limitEndOffer{
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-start;
  & h4 {
    margin: 0;
    padding-left: 16px;
    color: grey;
    font-family: tahoma;
  }
}

.dropdownClass{
  display: flex;
  flex-flow: column;
}
